:root{
    --Font-principal-color: #141c3a;
    --Color-negro: black;
    --Color-blanco: white;
    --Secundario-color:#6E07F3;
    

}
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    
}

main{
    position: absolute;
    display: inline-block;
    max-width: auto;
    min-width: 320px;

}
.infoPersonal__titulo{
    margin: 0 0 0 5px;
    font-size: 2rem;
    color: var(--Font-principal-color);
}
.infoPersonal__profeciones{
    margin: 0 0 0 5px;
    font-size: 1rem;
}

.infoPersonal__foto-figure{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    

}
.infoPersonal__foto-img{
    display: inline-block;
    width: 200px;

}
.infoPersonal__redesSociales{
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    margin: 5px 10px;

}
.infoPersonal__redesSociales-a{
    width: 100%;
    height: 100%;
}
.infoPersonal__redesSociales-logos{
    width: 30px;
    color: var(--Color-negro);
}
.descriptionSobreMi{
    padding: 20px;
    text-align: center;
    color: var(--Color-blanco);
    background-color: var(--Secundario-color);
}
.descripcionSobreMi__titulo{
    display: block;
    text-align: center;
}
.skillsMios{
    display: flex;
    flex-direction: column;
}
.skillMio__contenido{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--Color-negro);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    gap: 15px;
    text-align: center;
    
}
.skillMio__segundaParte-subTitulo ,.skillMio__tercerParte-subTitulo{
    color: var(--Secundario-color);
}

.Proyectos{

}
.proyecto__a{
    color: none;
    text-decoration: none;
}
.proyecto__conteiner{
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    color: var(--Color-negro);
}
footer{
    position: relative;
    margin: 30px 0 0 0;
    padding: 40px;
    background-color: var(--Secundario-color);
    color: var(--Color-blanco);
}

